TEMP_FOLDER=./temp
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dropit
POSTGRES_USER=dropit_user
POSTGRES_PASSWORD=dropit_password
SERVER_PORT=8080
WORKER_POLL_INTERVAL_MS=2000
WORKER_BATCH_SIZE=1
WORKER_HEALTH_PORT=8081
WORKER_INIT_MAX_ATTEMPTS=5
WORKER_INIT_RETRY_DELAY_MS=3000
FRESHOP_APP_KEY=lindos
FRESHOP_LOCALE=false
FRESHOP_REFERRER=https://www.dropit.bm/
